
html, body{
    height:100%;
    padding-top: 30px;
    /* background-image:url('https://thumbs.gfycat.com/AbandonedBountifulGuineapig-mobile.mp4'); */
    
}
#typingScript{
  width:300px;height:100px;padding-left:30px;
}

#background{
      /* background: #007bff; */
      /* background: black; */
    /* align-content: center; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    position: relative;
    padding-top:50px;
    
}
button{
  margin-top:80px;
  size: 500px;
  color: white;
  font-size: 25px;
  /* font-weight: lighter; */
  letter-spacing: 1.6px;
  background:none;
  border: 2px solid #0eaae8;

  border-radius: 10px;
  padding: 10px 30px;
}


#details{
  display: flex;
  flex-direction: column;
  margin-top:100px;
}
h1, p{
  color:white;
}

span{
  text-decoration-color: blue;
}
#myVideo {
  position: fixed;
  padding-top:30px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* 
#cardVideo {
  position: fixed;
  padding-top:30px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */
/* card starts from here */
#center-card{
    height: 100%;
    width: 60%;
}

hr{
  background: rgb(158, 149, 149);
}

.profile-card {
    font-family: 'Open Sans', Arial, sans-serif;
    background:#7A5DC7;
    /* border-radius: 20%; */

    position: relative;
    /* float: left; */
    overflow: hidden;
    width:50%;
     margin:0 auto;

    text-align: center;
    height:450px;
    border:none;
  }
  .profile-card .background-block {
      /* float: left; */
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .profile-card .background-block .background {
    border-radius: 20%;

    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
     -webkit-transform: scale(1.8);
    transform: scale(2.8);
  }


  .profile-card .card-content {
    /* border-radius: 20%; */

    width: 100%;
    padding: 0px 25px;
    color:#232323;
    /* float:left; */
    background:#efefef;
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    z-index: 9999;
  }
  .profile-card .card-content::before {
      content: '';
      background: #efefef;
      width: 120%;
      height: 100%;
      left: 11px;
      bottom: 51px;
      position: absolute;
      z-index: -1;
      transform: rotate(-11deg);
  }
  .profile-card .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    top: 10%;
    max-width: 280px;
    max-height: 200px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index:99999;
  }
  .profile-card h1 {
    margin: 50px 0 5px;
    font-weight: 600;
    font-size:35px;
  }
  .profile-card h3 {
    display: block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.0px;
    color: rgb(46, 46, 46);
    margin-top:10px;
  }
  .profile-card i {
    display: inline-block;
      font-size: 25px;
      color: #363636;
      /* color:#007bff; */
      text-align: center;
      /* border: 1px solid #232323; */
      width: 38px;
      height: 30px;
      line-height: 30px;
      /* border-radius: 50%; */
      margin:0 10px;
  }
  .profile-card .icon-block{
      float:left;
      width:100%;
      margin-top:10px;
  }
  .profile-card .icon-block a{
      text-decoration:none;
  }

  
  .profile-card i:hover {
    background-color:#007bff;
    color:rgb(255, 255, 255);
    text-decoration:none;
  }

  /* responsive */
  
  /* @media screen and (min-width: 1001px) {


} */

@media (min-width: 100px) and (max-width: 728px) and (orientation:portrait) {
  
html, body{
  /* height:100%; */
  padding-top: 0px;
  /* background-image:url('https://thumbs.gfycat.com/AbandonedBountifulGuineapig-mobile.mp4'); */
  
}
#background{
flex-direction: column;
height:600px;
}

#details{
  display: flex;
  flex-direction: row;
  width:400px;
  margin-top:0;
}

h1{
  font-size: 25px;
}
button{
  margin-top:40px;
  size: 300px;
  font-size: 20px;
 /* margin-left:30px;  */
}

h3{
  font-size: 15px;
}
#center-card{
  margin-top:80px;
  height: 600px;
  width: 500px;
}
.profile-card{
  width:400px;
}
#typingScript{
  margin-right:50px;
  padding-left:30px;
  width:300px;
}
}



@media only screen and (min-width: 728px) and (max-width: 1000px) {
 
html, body{
  /* height:100%; */
  padding-top: 0px;
  /* background-image:url('https://thumbs.gfycat.com/AbandonedBountifulGuineapig-mobile.mp4'); */
  
}
#background{
flex-direction: column;
height:600px;
}

#details{
  display: flex;
  flex-direction: row;
  width:400px;
  margin-top:0;
}

h1{
  font-size: 25px;
}
button{
  margin-top:40px;
  size: 300px;
  font-size: 20px;
 /* margin-left:30px;  */
}

h3{
  font-size: 15px;
}
#center-card{
  margin-top:80px;
  height: 600px;
  width: 500px;
}
.profile-card{
  width:400px;
}
#typingScript{
  margin-right:50px;
  padding-left:30px;
  width:300px;
}
}
